title: "Basic Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      port:
        title: "Serial Port"
        type: "string"
        default: "/dev/ttyACM0"
    required: [
      "port"
    ]
  desiredState:
    title: "Desired State"
    type: "object"
    properties:
      leds:
        title: "leds"
        type: "array"
        items:
          title: 'Color'
          type: 'string'
